/* Local Font Load-in */

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenorg-webfont.woff2") format("woff2"), url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenorg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenorgit-webfont.woff2") format("woff2"), url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenorgit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoultlt-webfont.woff2") format("woff2"), url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoultlt-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoultltit-webfont.woff2") format("woff2"), url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoultltit-webfont.woff") format("woff");
  font-weight: 100;
  font-style: italic
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenolt-webfont.woff2") format("woff2"), url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenolt-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoltit-webfont.woff2") format("woff2"), url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoltit-webfont.woff") format("woff");
  font-weight: 200;
  font-style: italic
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenosbd-webfont.woff2") format("woff2"), url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenosbd-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenosbdit-webfont.woff2") format("woff2"), url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenosbdit-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenobd-webfont.woff2") format("woff2"), url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenobd-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenobdit-webfont.woff2") format("woff2"), url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenobdit-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoblk-webfont.woff2") format("woff2"), url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoblk-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoblkit-webfont.woff2") format("woff2"), url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoblkit-webfont.woff") format("woff");
  font-weight: 800;
  font-style: italic
}

/* Global Font Smoothing */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Global Page Elements */
body {
  color: #414141;
  font-family: 'Lora', Georgia, Times New Roman, serif;
  font-size: 19px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Trueno', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 60px;
  line-height: 74px;
  margin-bottom: 20px;
  color: #1e1e1e;
}

h2 {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #1e1e1e;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #1e1e1e;
}

p {
  line-height: 1.68421;
}

p.fine {
  font-style: italic;
}

a {
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  border-bottom: 3px solid transparent;
  color: #0579b8;
  font-family: 'Trueno', Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: border 0.28s cubic-bezier(0.28,1.08,1,0.96);
  transition: border 0.28s cubic-bezier(0.28,1.08,1,0.96);
}

a:hover {
  border-color: rgba(5,121,184,0.3);
  color: #0579b8;
  text-decoration: none;
}


/* Child Theme Ribbon */
/* header h1 {
  margin-bottom: 0;
} */

/* h1 #content, h1 #content:hover, h1 #content:focus {
  font-family: 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.3;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  padding: 10px 25px;
  background: linear-gradient(-46deg,#0579b8 0%,#2a5280 100%);
  text-decoration:none;
} */

/* span.title-verify {
  font-family: 'Lora', Georgia, Times New Roman, serif;
  font-style: italic;
} */

/* .logo-background {
  background-color: #1e1e1e;
  text-align: center;
} */

/* .logo-background img {
  margin: 19px auto;
} */

/* .header-padding{
  margin-right: 0px;
  margin-left: 0px;
} */


/* Form Elements */
form label {
  font-family: 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 200;
}

form input[type="number"], form input[type="email"], form input[type="password"] {
  border: 1px solid #1e1e1e;
  border-radius: 3px;
  margin-top: 0.75em;
  min-height: 45px;
  padding: 0 20px;
  width: 100%;
}

form input[type="submit"], form button[type="submit"] {
  color: white;
  background-color: #0579b8;
  border: 2px solid transparent;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.17px;
  line-height: 19px;
  padding: 12px 23px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

input#huid, input#emailAddress, input#password {
  display: block;
  margin: 2em auto;
  width: 80%;
}

input#huid-verify, button#login-button {
  margin: 0.5em auto;
  padding: 12px 18px 12px 23px;
}

form input[type="submit"]:hover {
  background-color: #2a5280;
}

.link-button {
  background-color: #0579b8;
  border: 2px solid transparent;
  border-color: transparent;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.17px;
  line-height: 19px;
  padding: 12px 23px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.link-button:hover {
  background-color: #2a5280;
  color: #fff;
  text-decoration: none;
}

#reset a.button {
  background-color: #ffffff;
  border: 1px solid #1e1e1e;
  border-radius: 4px;
  color: #1e1e1e;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.17px;
  line-height: 16px;
  padding: 5px 9px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#reset a.button:hover {
  background-color: #6c6c6c;
  color: #ffffff;
}

#reset p.fine {
  font-size: 16px;
}


/* Results block */
#result-message p {
  font-family: 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 200;
}

.material-icons.jumbo {
  font-size: 144px;
}

.result-data {
  font-family: 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 20px;
}

.result-label {
  font-weight: 700;
}


/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 15px;
}

footer a {
  border-bottom: 3px solid transparent;
  color: #ffffff;
  -webkit-transition: border 0.28s cubic-bezier(0.28,1.08,1,0.96);
  transition: border 0.28s cubic-bezier(0.28,1.08,1,0.96);
}

footer a:hover {
  border-bottom: 3px solid rgba(255,255,255,0.3);
  color: #f3f3f3;
  text-decoration: none;
}

#feedback {
  text-align: right;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}

  .logo-background {
    text-align: left;
  }
  .logo-background img {
    margin-left: 25px;
  }
  #feedback {
    text-align: left;
  }
}

/* Custom styles for material icons */
.material-icons.allow { color: #33b55f; }
.material-icons.deny { color: #ea001b; }
.material-icons.error { color: #217eb7; }

/* Remove arrows from number fields in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows from number fields in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}







/* Maura's styles */

/* header */
@media (min-width: 621px) {
  .hl__header-child {
    display: flex;
  }

  .hl__header-child a {
    border: none;
  }
}

.hl__header-child__title {
  background-image: linear-gradient(-46deg, #0579b8 0%, #2a5280 100%);
  color: white;
  flex: auto;
  font-family: 'Lora', Georgia, Times New Roman, serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 10px 25px;
}

@media (min-width: 621px) {
  .hl__header-child__title {
    font-size: 24px;
    line-height: 1.3;
  }
}

.hl__header-child__title a {
  color: white;
  text-decoration: none;
  font-family: 'Lora', Georgia, Times New Roman, serif;
  font-weight: normal;
}

.hl__header-child__title span {
  font-family: "Trueno", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.52px;
  line-height: 1;
  text-transform: uppercase;
}

@media (min-width: 621px) {
  .hl__header-child__title span {
    font-size: 32px;
    line-height: 1.25;
  }
}

.hl__header-child__logo {
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  flex: none;
  min-height: 44px;
}

.hl__header-child__logo a {
  padding: 10px 30px;
}

.hl__linked-image a {
  display: block;
  font-size: 0;
}

.hl__image {
  height: auto;
  max-width: 100%;
}


/* dashboard size */
.container {
  /* max-width: 1450px; */
  max-width: 1800px;
}
div.container-fluid {
  padding-top: 30px;
  padding-bottom: 80px;
}

/* texty text */
.col {
	max-width: 930px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
/* time stamp */
.hl__time-stamp {
	font-family: "Trueno", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #1e1e1e;
}


/* card columns */
.col-md-4 {
  min-width: 425px;
}
.row {
  justify-content: center;
}
.pb-1, .py-1 {
  padding-bottom:30px;
}


/* modal windows */
.modal-dialog {
  outline: 0;
  z-index: 2000;
  background: transparent;
  border: none;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Trueno", sans-serif;
/*   width: 600px; */
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width:620px) {
  .modal-dialog {
    width: 90%;
  }
}
.modal-content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 40px;
}
.modal-header {
  border-bottom: 0;
  padding: 0;
}
.modal-header .modal-title, .modal-header h1 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2.1px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.modal-header button.close {
  border-radius: 50%;
  padding: 0.5em;
  width: 21px;
  height: 21px;
  display: inline-block;
  background: #6c6c6c;
  position: relative;
  transition: all 0.4s ease;
  opacity: 1;
}
.modal-header button.close span {
  color: transparent;
  position: absolute;
  top: -4px;
  font-size: 36px;
  right: 3px;
  line-height: 28.5px;
  font-weight: normal;
}
.modal-header button.close:hover, .modal-header button.close:focus {
  background: #eb001b;
}
.modal-body {
  padding: 0;
  font-family: "Trueno", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.modal-footer {
  padding: 20px 0;
  margin-bottom: -40px;
}
.modal-footer > * {
  margin: 0;
}


/* status diagram modal */
#diagram .modal-body {
	text-align: center;
}
/* definitions modal */
dt {
  font-weight: 600;
}

/* buttons */
.btn {
	border: 2px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-family: "Trueno", sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.17px;
	line-height: 19px;
	padding: 12px 23px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.4s ease;
}
.btn-sm {
	font-size: 12px;
	line-height: 16px;
	border-width: 1px;
	padding: 5px 9px;
	background: #1e1e1e;
	border-color: transparent;
	color: white;
}
.btn-secondary {
  color: #1e1e1e;
  border-color: #1e1e1e;
  background: white;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #6c6c6c;
  border-color: #6c6c6c;
  color: white;
}


/* tabs + card styles */
.nav-link {
  font-family: 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1e1e1e;
  font-weight: 700;
  letter-spacing: 1.17px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color:#1e1e1e;
  background-color:#fff;
  border-color:#dee2e6 #dee2e6 #fff;
}
.table {
  width:100%;
  margin-bottom:1rem;
  color:#414141;
  font-family: "Trueno", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.tab-pane p {
  font-family: 'Trueno', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  color: #1e1e1e;
  text-align: center;
  padding-top: 8px;
}
th {
  font-weight: normal;
}
td:last-child {
  text-align: right;
}

.card-body a {
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
}
