<div class="row no-gutters" class="head header-padding">
  <div class="col-lg-3 col-md-6 order-md-12 logo-background">
    <img src="{{ url_for('static', filename='images/logo-hl-h.svg') }}" alt="Harvard logo" class="img-fluid">
  </div>
  <div class="col-lg-9 col-md-6 order-md-1">
    <div>
      <a href="#content" accesskey="S" onclick="$('#content').focus();" class="sr-only sr-only-focusable">Skip to Main Content</a>
    </div>
    <h1>
      <div id="content" aria-label="content">
        <strong>DRS</strong><span class="title-verify">Migration Dashboard</span>
      </div>
    </h1>
  </div>
</div>