<section class="hl__header-child">
  <div>
    <a href="#content" accesskey="S" onclick="$('#content').focus();" class="sr-only sr-only-focusable">Skip to Main Content</a>
  </div>
  <h1 class="hl__header-child__title ">
    <div href="/" title="Digital Reserves System Migration Dashboard"><span>DRS</span> Migration Dashboard</div>
  </h1>
  <div class="hl__header-child__logo">
    <section class="hl__linked-image">
      <a href="https://library.harvard.edu/" title="Harvard Library">
        <img class="hl__image " alt="Harvard Library Logo" height="24" width="270" src="{{ url_for('static', filename='images/logo-hl-h.svg') }}"/>
      </a>
  </section>
  </div>
</section>
